
# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Data and model folders
uploads/
static/
MODEL/
VF/
GRILLE/
*.pkl
*.shp
*.shx
*.dbf
*.prj

# Jupyter notebook checkpoints
.ipynb_checkpoints

# OS specific files
.DS_Store
Thumbs.db
